
 {{ 'splide.min.css' | asset_url | stylesheet_tag }}

<div class="mm-cs-main">
    <div class="mm-container">
        <div class="mm-cs-inner">
            <div class="mm-cs-text">{{ section.settings.mm-headline }}</div>
            <div class="mm-cs-innerDetails">
                <div class="mm-id-left">
                    <h3>{{ section.settings.mm-heading }}</h3>
                    <span>{{ section.settings.mm-details }}</span>
                    <a class="mm-id-btn" href="{{ section.settings.mm-btn-url }}">{{ section.settings.mm-btn-text }}</a>
                </div>
                <div class="mm-id-right">
                    <section class="splide" aria-label="Splide Basic HTML Example">
                        <div class="splide__track">
                              <ul class="splide__list">
                                {% for block in section.blocks %}
                                  <li class="splide__slide">
                                    <img src="{{ section.settings.mm-slide-img | img_url: 'master' }}">
                                  </li>
                                  {% endfor %}
                              </ul>
                        </div>
                      </section>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{{ 'splide.min.js' | asset_url }}"></script>
    <script>
        new Splide( '.splide' ).mount();
    </script>

    {% schema %}
  {
    "name": "MM Comfort Slider",
    "settings": [
      {
        "type":"richtext",
        "id":"mm-headline",
        "label":"Headline"
      },
      {
        "type":"text",
        "id":"mm-heading",
        "label":"Heading",
      },
      {
        "type":"richtext",
        "id":"mm-details",
        "label":"Content"
      },
      {
        "type":"text",
        "id":"mm-btn-text",
        "label":"Button Text",
        "default": "LEARN MORE"
      },
      {
        "type":"url",
        "id":"mm-btn-url",
        "label":"Button Url"
      }
    ],
    "blocks":[
      {
       "type":"slider",
        "name":"Slide",
        "settings":[
          
          {
            "type":"image_picker",
            "id":"mm-slide-img",
            "label":"Slider Image"
          }
        ]
      }
    ],
    "presets":[
      {
        "name":"MM Comfort Slider"
      }
    ]
  }
{% endschema %}