
<style>
  .custom_scrolling_main{
    overflow:hidden;
    display: flex;
    gap: 10px;
    margin-top:40px;
  }
  .custom_scrolling_text{
    display: flex;
    align-items: center;
    gap: 10px;
    flex: none;
    animation: translateFull 40s linear infinite;
  }
  /* .scrolling_div_image {
    max-width: 160px;
  } */
  .scrolling_div_image img {
    width: 100%;
    object-fit: cover;
  }
  .scrolling_div_content {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }
  .scrolling_div_content p {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18.2px;
  }
  @keyframes translateFull {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(calc(-100% * 1));
  }
}
#custom_scrolling_main-{{ section.id }} {
    background: {{section.settings.bg_color}};
}

#custom_scrolling_main-{{ section.id }} p{
    color:{{section.settings.text_color}};
}

@media screen and (max-width: 1199px) {
  .scrolling_div_image {
    max-width: 400px;
    height: 400px;
}
}
@media screen and (max-width: 991px) {
  .scrolling_div_image {
    max-width: 300px;
    height: 300px;
}
}


  
</style>
{% if section.blocks.size > 0 %}
<div class="custom_scrolling_main" id="custom_scrolling_main-{{ section.id }}">
{% for i in (1..4) %}  
<div class="custom_scrolling_text">
  {% for block in section.blocks %}
   {% case block.type %}
     {% when 'Scrolling_Text' %}
      <div class="scrolling_div_content">
        <p>{{ block.settings.text }}</p>
      </div>
      
      {% when 'Scrolling_Image' %}
      <div class="scrolling_div_image">
       {% if block.settings.image != blank %}
        {{ block.settings.image | image_url:width:block.settings.image.width | image_tag:loading:'lazy' }}
       {% endif %}
      </div>
    {% endcase %}
  {% endfor %}
</div>
{% endfor %}
</div>
{% endif %}
{% schema %}
  {
    "name": "PS scrolling",
    "settings": [
      {
        "type":"color",
        "id":"bg_color",
        "label":"Background Color",
        "default":"#fff"
      },
       
      {
        "type":"color",
        "id":"text_color",
        "label":"Text Color",
        "default":"#2E4368"
      }
    ],
    "blocks":[
      {
        "name":"Scrolling Text",
        "type":"Scrolling_Text",
        "settings":[
          {
            "type":"text",
            "id":"text",
            "label":"Text",
            "default":"Made in the USA"
          }
        ]
      },
       {
        "name":"Scrolling Image",
        "type":"Scrolling_Image",
        "settings":[
          {
            "type":"image_picker",
            "id":"image",
            "label":"Image"
          }
        ]
      }
    ],
    "presets":[
      {
        "name":"PS scrolling"
      }
    ]
  }
{% endschema %}
